[Desktop Entry]
Encoding=UTF-8
Name=Link to Arduino Wireless SD Shield Tutorial : 8 Steps (with Pictures) - Instructables
Type=Link
URL=https://www.instructables.com/Arduino-Wireless-SD-Shield-Tutorial/
Icon=text-html
