[Desktop Entry]
Encoding=UTF-8
Name=Link to XBee Shield Hookup Guide - learn.sparkfun.com
Type=Link
URL=https://learn.sparkfun.com/tutorials/xbee-shield-hookup-guide
Icon=text-html
